In [66]:
import pandas as pd
import numpy as np
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine , func

In [70]:
#create an engine for sqlite db
engine = create_engine("sqlite:///database.sqlite" ,echo=False)
conn = engine.connect()

In [67]:
#read the unemployment csv file
all_unemployment_regions_df = pd.read_csv('unemployment.csv')
all_unemployment_regions_df.head()

,Unnamed: 0,series_id,year,period,value,footnote_codes,region
0,0,LASST050000000000003,1976,M01,7.4,,Arkansas
1,1,LASST050000000000003,1976,M02,7.4,,Arkansas
2,2,LASST050000000000003,1976,M03,7.4,,Arkansas
3,3,LASST050000000000003,1976,M04,7.3,,Arkansas
4,4,LASST050000000000003,1976,M05,7.2,,Arkansas

In [68]:
#drop footnote_code column , strip the M from period and store it as month column
all_unemployment_regions_df = all_unemployment_regions_df.drop(columns=['footnote_codes'])
temp = all_unemployment_regions_df['period'].str.split("M", n = 1, expand = True) 
all_unemployment_regions_df['month']  = temp[1]
all_unemployment_regions_df.head()

,Unnamed: 0,series_id,year,period,value,region,month
0,0,LASST050000000000003,1976,M01,7.4,Arkansas,01
1,1,LASST050000000000003,1976,M02,7.4,Arkansas,02
2,2,LASST050000000000003,1976,M03,7.4,Arkansas,03
3,3,LASST050000000000003,1976,M04,7.3,Arkansas,04
4,4,LASST050000000000003,1976,M05,7.2,Arkansas,05

In [71]:
#create table with pandas
all_unemployment_regions_df.to_sql("unemployment", conn, if_exists="replace")

In [73]:
#query the data
pd.read_sql_query("select * from unemployment;", conn)

,index,Unnamed: 0,series_id,year,period,value,region,month
0,0,0,LASST050000000000003,1976,M01,7.4,Arkansas,01
1,1,1,LASST050000000000003,1976,M02,7.4,Arkansas,02
2,2,2,LASST050000000000003,1976,M03,7.4,Arkansas,03
3,3,3,LASST050000000000003,1976,M04,7.3,Arkansas,04
4,4,4,LASST050000000000003,1976,M05,7.2,Arkansas,05
5,5,5,LASST050000000000003,1976,M06,7.0,Arkansas,06
6,6,6,LASST050000000000003,1976,M07,6.9,Arkansas,07
7,7,7,LASST050000000000003,1976,M08,6.7,Arkansas,08
8,8,8,LASST050000000000003,1976,M09,6.6,Arkansas,09
9,9,9,LASST050000000000003,1976,M10,6.6,Arkansas,10
10,10,10,LASST050000000000003,1976,M11,6.6,Arkansas,11
11,11,11,LASST050000000000003,1976,M12,6.6,Arkansas,12
12,12,12,LASST050000000000003,1977,M01,6.6,Arkansas,01
13,13,13,LASST050000000000003,1977,M02,6.6,Arkansas,02
14,14,14,LASST050000000000003,1977,M03,6.6,Arkansas,03
15,15,15,LASST050000000000003,1977,M04,6.5,Arkansas,04
16,16,16,LASST050000000000003,1977,M05,6.5,Arkansas,05
17,17,17,LASST050000000000003,1977,M06,6.4,Arkansas,06
18,18,18,LASST050000000000003,1977,M07,6.4,Arkansas,07
19,19,19,LASST050000000000003,1977,M08,6.4,Arkansas,08
20,20,20,LASST050000000000003,1977,M09,6.4,Arkansas,09
21,21,21,LASST050000000000003,1977,M10,6.4,Arkansas,10
22,22,22,LASST050000000000003,1977,M11,6.3,Arkansas,11
23,23,23,LASST050000000000003,1977,M12,6.3,Arkansas,12
24,24,24,LASST050000000000003,1978,M01,6.2,Arkansas,01
25,25,25,LASST050000000000003,1978,M02,6.1,Arkansas,02
26,26,26,LASST050000000000003,1978,M03,6.0,Arkansas,03
27,27,27,LASST050000000000003,1978,M04,6.0,Arkansas,04
28,28,28,LASST050000000000003,1978,M05,6.0,Arkansas,05
29,29,29,LASST050000000000003,1978,M06,6.0,Arkansas,06
...,...,...,...,...,...,...,...,...
26018,26018,488,LASST040000000000003,2016,M09,5.3,Arizona,09
26019,26019,489,LASST040000000000003,2016,M10,5.3,Arizona,10
26020,26020,490,LASST040000000000003,2016,M11,5.2,Arizona,11
26021,26021,491,LASST040000000000003,2016,M12,5.2,Arizona,12
26022,26022,492,LASST040000000000003,2017,M01,5.2,Arizona,01
26023,26023,493,LASST040000000000003,2017,M02,5.1,Arizona,02
26024,26024,494,LASST040000000000003,2017,M03,5.1,Arizona,03
26025,26025,495,LASST040000000000003,2017,M04,5.0,Arizona,04
26026,26026,496,LASST040000000000003,2017,M05,4.9,Arizona,05
26027,26027,497,LASST040000000000003,2017,M06,4.9,Arizona,06
26028,26028,498,LASST040000000000003,2017,M07,4.8,Arizona,07
26029,26029,499,LASST040000000000003,2017,M08,4.7,Arizona,08
26030,26030,500,LASST040000000000003,2017,M09,4.7,Arizona,09
26031,26031,501,LASST040000000000003,2017,M10,4.7,Arizona,10
26032,26032,502,LASST040000000000003,2017,M11,4.8,Arizona,11
26033,26033,503,LASST040000000000003,2017,M12,4.8,Arizona,12
26034,26034,504,LASST040000000000003,2018,M01,4.8,Arizona,01
26035,26035,505,LASST040000000000003,2018,M02,4.8,Arizona,02
26036,26036,506,LASST040000000000003,2018,M03,4.8,Arizona,03
26037,26037,507,LASST040000000000003,2018,M04,4.8,Arizona,04
26038,26038,508,LASST040000000000003,2018,M05,4.7,Arizona,05
26039,26039,509,LASST040000000000003,2018,M06,4.7,Arizona,06
26040,26040,510,LASST040000000000003,2018,M07,4.7,Arizona,07
26041,26041,511,LASST040000000000003,2018,M08,4.8,Arizona,08
26042,26042,512,LASST040000000000003,2018,M09,4.8,Arizona,09
26043,26043,513,LASST040000000000003,2018,M10,4.9,Arizona,10
26044,26044,514,LASST040000000000003,2018,M11,4.9,Arizona,11
26045,26045,515,LASST040000000000003,2018,M12,4.9,Arizona,12
26046,26046,516,LASST040000000000003,2019,M01,5.1,Arizona,01
26047,26047,517,LASST040000000000003,2019,M02,5.1,Arizona,02

In [52]:
#read energy production csv file
all_fuels_region_production = pd.read_csv('fuel_region_production.csv')
all_fuels_region_production.head()

   Unnamed: 0    date  energy_production fuel_type  region
0           0  201812           64.28964      Coal  Alaska
1           1  201811           82.86349      Coal  Alaska
2           2  201810                NaN      Coal  Alaska
3           3  201809           78.22302      Coal  Alaska
4           4  201808           65.52859      Coal  Alaska

In [8]:
region_counts = all_unemployment_regions_df['region'].value_counts()

In [9]:
unemployment_regions = [ unemployment_region for unemployment_region in region_counts.index]

In [53]:
#additional cleanup of region -
fuel_regions = all_fuels_region_production['region'].value_counts().index
fuel_regions = [ fuel_region.replace(' ', '') for fuel_region in fuel_regions]
fuel_regions

['PacificContiguous(total)',
 'UnitedStates',
 'California',
 'Mountain(total)',
 'SouthAtlantic(total)',
 'MiddleAtlantic(total)',
 'Pennsylvania',
 'EastNorthCentral(total)',
 'WestSouthCentral(total)',
 'WestNorthCentral(total)',
 'EastSouthCentral(total)',
 'Michigan',
 'Washington',
 'Texas',
 'NewYork',
 'NewEngland(total)',
 'Tennessee',
 'Ohio',
 'Illinois',
 'Florida',
 'NewJersey',
 'Arizona',
 'Missouri',
 'PacificNoncontiguous(total)',
 'Massachusetts',
 'SouthCarolina',
 'NorthCarolina',
 'Minnesota',
 'Georgia',
 'Colorado',
 'Wisconsin',
 'Oklahoma',
 'Connecticut',
 'Arkansas',
 'Louisiana',
 'Maryland',
 'Virginia',
 'Iowa',
 'Hawaii',
 'Indiana',
 'Nevada',
 'Utah',
 'Oregon',
 'Alabama',
 'NewHampshire',
 'Kentucky',
 'WestVirginia',
 'Montana',
 'Nebraska',
 'Maine',
 'Idaho',
 'Kansas',
 'Mississippi',
 'NorthDakota',
 'NewMexico',
 'Vermont',
 'Alaska',
 'Delaware',
 'Wyoming',
 'SouthDakota',
 'RhodeIsland',
 'DistrictOfColumbia']

In [18]:
joined_regions = [ unemployment_region for unemployment_region in unemployment_regions \
                  if unemployment_region in fuel_regions]
joined_regions

['Montana',
 'Kansas',
 'Louisiana',
 'NewHampshire',
 'Delaware',
 'NorthCarolina',
 'Vermont',
 'Mississippi',
 'Arizona',
 'Colorado',
 'NewYork',
 'NewMexico',
 'WestVirginia',
 'Oklahoma',
 'Texas',
 'Indiana',
 'California',
 'Utah',
 'Nebraska',
 'Tennessee',
 'Pennsylvania',
 'Maryland',
 'Nevada',
 'Connecticut',
 'Massachusetts',
 'Kentucky',
 'Hawaii',
 'Arkansas',
 'Alaska',
 'Wisconsin',
 'Wyoming',
 'Alabama',
 'SouthDakota',
 'NorthDakota',
 'Georgia',
 'Missouri',
 'Idaho',
 'Iowa',
 'SouthCarolina',
 'Maine',
 'Virginia',
 'Minnesota',
 'Oregon',
 'NewJersey',
 'RhodeIsland',
 'Florida',
 'Ohio',
 'Washington',
 'Michigan',
 'Illinois']

In [12]:
[ region for region in region_counts.index if region not in joined_regions]

['DC', 'PuertoRico']

In [54]:
all_fuels_region_production['region'].value_counts().index

Index(['Pacific Contiguous (total)', 'United States', 'California',
       'Mountain (total)', 'South Atlantic (total)', 'Middle Atlantic (total)',
       'Pennsylvania', 'East North Central (total)',
       'West South Central (total)', 'West North Central (total)',
       'East South Central (total)', 'Michigan', 'Washington', 'Texas',
       'New York', 'New England (total)', 'Tennessee', 'Ohio', 'Illinois',
       'Florida', 'New Jersey', 'Arizona', 'Missouri',
       'Pacific Noncontiguous (total)', 'Massachusetts', 'South Carolina',
       'North Carolina', 'Minnesota', 'Georgia', 'Colorado', 'Wisconsin',
       'Oklahoma', 'Connecticut', 'Arkansas', 'Louisiana', 'Maryland',
       'Virginia', 'Iowa', 'Hawaii', 'Indiana', 'Nevada', 'Utah', 'Oregon',
       'Alabama', 'New Hampshire', 'Kentucky', 'West Virginia', 'Montana',
       'Nebraska', 'Maine', 'Idaho', 'Kansas', 'Mississippi', 'North Dakota',
       'New Mexico', 'Vermont', 'Alaska', 'Delaware', 'Wyoming',
       'South Dakota', 'Rhode Island', 'District Of Columbia'],
      dtype='object')

In [55]:
# All states represented, need to remove spaces for the fuel regions to match format 
# and replace `District of Columbia` with DC

all_fuels_region_production['region'] = all_fuels_region_production['region'].apply(lambda region: region.replace(' ', ''))
all_fuels_region_production['region'].replace('DistrictOfColumbia', 'DC', inplace=True)
all_fuels_region_production['region'].value_counts()

UnitedStates                   3960
California                     3960
PacificContiguous(total)       3960
Mountain(total)                3924
SouthAtlantic(total)           3505
MiddleAtlantic(total)          3432
Pennsylvania                   3422
EastNorthCentral(total)        3396
WestSouthCentral(total)        3385
WestNorthCentral(total)        3312
EastSouthCentral(total)        3300
Michigan                       3223
Washington                     3169
Texas                          3169
NewYork                        3168
NewEngland(total)              3120
Tennessee                      3096
Ohio                           3087
Illinois                       3032
Florida                        3030
NewJersey                      3012
Arizona                        3002
Missouri                       2979
PacificNoncontiguous(total)    2941
Massachusetts                  2940
SouthCarolina                  2922
NorthCarolina                  2905
Minnesota                      2884
Georgia                        2880
Colorado                       2844
                               ...
Connecticut                    2740
Arkansas                       2737
Louisiana                      2712
Maryland                       2709
Virginia                       2636
Iowa                           2604
Hawaii                         2602
Indiana                        2576
Nevada                         2572
Utah                           2560
Oregon                         2558
Alabama                        2552
NewHampshire                   2412
Kentucky                       2379
WestVirginia                   2376
Montana                        2358
Nebraska                       2330
Maine                          2325
Idaho                          2314
Kansas                         2247
Mississippi                    2213
NorthDakota                    2182
NewMexico                      2163
Vermont                        2124
Alaska                         2099
Delaware                       2068
Wyoming                        2030
SouthDakota                    1980
RhodeIsland                    1672
DC                              734
Name: region, Length: 62, dtype: int64

In [56]:
# split date to year and month
all_fuels_region_production["date"] = all_fuels_region_production['date'].astype('str')
all_fuels_region_production["date"] = pd.to_datetime(all_fuels_region_production['date'],errors='coerce',format='%Y%m')
all_fuels_region_production["year"] = all_fuels_region_production["date"].dt.strftime('%Y')
all_fuels_region_production["month"] = all_fuels_region_production["date"].dt.strftime('%m')
all_fuels_region_production

,Unnamed: 0,date,energy_production,fuel_type,region,year,month
0,0,2018-12-01,64.28964,Coal,Alaska,2018,12
1,1,2018-11-01,82.86349,Coal,Alaska,2018,11
2,2,2018-10-01,NaN,Coal,Alaska,2018,10
3,3,2018-09-01,78.22302,Coal,Alaska,2018,09
4,4,2018-08-01,65.52859,Coal,Alaska,2018,08
5,5,2018-07-01,51.17112,Coal,Alaska,2018,07
6,6,2018-06-01,NaN,Coal,Alaska,2018,06
7,7,2018-05-01,51.00125,Coal,Alaska,2018,05
8,8,2018-04-01,NaN,Coal,Alaska,2018,04
9,9,2018-03-01,53.10442,Coal,Alaska,2018,03
10,10,2018-02-01,45.88244,Coal,Alaska,2018,02
11,11,2018-01-01,55.01328,Coal,Alaska,2018,01
12,12,2017-12-01,52.15268,Coal,Alaska,2017,12
13,13,2017-11-01,50.24759,Coal,Alaska,2017,11
14,14,2017-10-01,48.48168,Coal,Alaska,2017,10
15,15,2017-09-01,48.73616,Coal,Alaska,2017,09
16,16,2017-08-01,50.79160,Coal,Alaska,2017,08
17,17,2017-07-01,45.43886,Coal,Alaska,2017,07
18,18,2017-06-01,31.97725,Coal,Alaska,2017,06
19,19,2017-05-01,39.36262,Coal,Alaska,2017,05
20,20,2017-04-01,46.29222,Coal,Alaska,2017,04
21,21,2017-03-01,48.38899,Coal,Alaska,2017,03
22,22,2017-02-01,43.71296,Coal,Alaska,2017,02
23,23,2017-01-01,50.12418,Coal,Alaska,2017,01
24,24,2016-12-01,50.23723,Coal,Alaska,2016,12
25,25,2016-11-01,46.18895,Coal,Alaska,2016,11
26,26,2016-10-01,45.66189,Coal,Alaska,2016,10
27,27,2016-09-01,38.18430,Coal,Alaska,2016,09
28,28,2016-08-01,51.41638,Coal,Alaska,2016,08
29,29,2016-07-01,47.03753,Coal,Alaska,2016,07
...,...,...,...,...,...,...,...
172110,172110,2003-06-01,3450.70900,All fuels,Wyoming,2003,06
172111,172111,2003-05-01,3180.98400,All fuels,Wyoming,2003,05
172112,172112,2003-04-01,3090.22500,All fuels,Wyoming,2003,04
172113,172113,2003-03-01,3804.89200,All fuels,Wyoming,2003,03
172114,172114,2003-02-01,3577.25400,All fuels,Wyoming,2003,02
172115,172115,2003-01-01,4080.63500,All fuels,Wyoming,2003,01
172116,172116,2002-12-01,4074.34400,All fuels,Wyoming,2002,12
172117,172117,2002-11-01,3672.86000,All fuels,Wyoming,2002,11
172118,172118,2002-10-01,3744.12700,All fuels,Wyoming,2002,10
172119,172119,2002-09-01,3785.98200,All fuels,Wyoming,2002,09
172120,172120,2002-08-01,3841.20100,All fuels,Wyoming,2002,08
172121,172121,2002-07-01,3893.36100,All fuels,Wyoming,2002,07
172122,172122,2002-06-01,3135.31800,All fuels,Wyoming,2002,06
172123,172123,2002-05-01,3272.65700,All fuels,Wyoming,2002,05
172124,172124,2002-04-01,3082.47900,All fuels,Wyoming,2002,04
172125,172125,2002-03-01,3933.57100,All fuels,Wyoming,2002,03
172126,172126,2002-02-01,3500.81800,All fuels,Wyoming,2002,02
172127,172127,2002-01-01,3847.12100,All fuels,Wyoming,2002,01
172128,172128,2001-12-01,3815.65700,All fuels,Wyoming,2001,12
172129,172129,2001-11-01,3847.45300,All fuels,Wyoming,2001,11
172130,172130,2001-10-01,3656.52600,All fuels,Wyoming,2001,10
172131,172131,2001-09-01,2985.16300,All fuels,Wyoming,2001,09
172132,172132,2001-08-01,3900.80100,All fuels,Wyoming,2001,08
172133,172133,2001-07-01,4128.22900,All fuels,Wyoming,2001,07
172134,172134,2001-06-01,3686.04100,All fuels,Wyoming,2001,06
172135,172135,2001-05-01,3436.69600,All fuels,Wyoming,2001,05
172136,172136,2001-04-01,3459.18100,All fuels,Wyoming,2001,04
172137,172137,2001-03-01,4093.37000,All fuels,Wyoming,2001,03
172138,172138,2001-02-01,3747.14100,All fuels,Wyoming,2001,02
172139,172139,2001-01-01,4020.68000,All fuels,Wyoming,2001,01

In [74]:
#create energy prod table from pandas
all_fuels_region_production.to_sql("energy_prod", conn, if_exists="replace")

In [75]:
pd.read_sql_query("select * from energy_prod;", conn)

,index,Unnamed: 0,date,energy_production,fuel_type,region,year,month
0,0,0,2018-12-01 00:00:00.000000,64.28964,Coal,Alaska,2018,12
1,1,1,2018-11-01 00:00:00.000000,82.86349,Coal,Alaska,2018,11
2,2,2,2018-10-01 00:00:00.000000,NaN,Coal,Alaska,2018,10
3,3,3,2018-09-01 00:00:00.000000,78.22302,Coal,Alaska,2018,09
4,4,4,2018-08-01 00:00:00.000000,65.52859,Coal,Alaska,2018,08
5,5,5,2018-07-01 00:00:00.000000,51.17112,Coal,Alaska,2018,07
6,6,6,2018-06-01 00:00:00.000000,NaN,Coal,Alaska,2018,06
7,7,7,2018-05-01 00:00:00.000000,51.00125,Coal,Alaska,2018,05
8,8,8,2018-04-01 00:00:00.000000,NaN,Coal,Alaska,2018,04
9,9,9,2018-03-01 00:00:00.000000,53.10442,Coal,Alaska,2018,03
10,10,10,2018-02-01 00:00:00.000000,45.88244,Coal,Alaska,2018,02
11,11,11,2018-01-01 00:00:00.000000,55.01328,Coal,Alaska,2018,01
12,12,12,2017-12-01 00:00:00.000000,52.15268,Coal,Alaska,2017,12
13,13,13,2017-11-01 00:00:00.000000,50.24759,Coal,Alaska,2017,11
14,14,14,2017-10-01 00:00:00.000000,48.48168,Coal,Alaska,2017,10
15,15,15,2017-09-01 00:00:00.000000,48.73616,Coal,Alaska,2017,09
16,16,16,2017-08-01 00:00:00.000000,50.79160,Coal,Alaska,2017,08
17,17,17,2017-07-01 00:00:00.000000,45.43886,Coal,Alaska,2017,07
18,18,18,2017-06-01 00:00:00.000000,31.97725,Coal,Alaska,2017,06
19,19,19,2017-05-01 00:00:00.000000,39.36262,Coal,Alaska,2017,05
20,20,20,2017-04-01 00:00:00.000000,46.29222,Coal,Alaska,2017,04
21,21,21,2017-03-01 00:00:00.000000,48.38899,Coal,Alaska,2017,03
22,22,22,2017-02-01 00:00:00.000000,43.71296,Coal,Alaska,2017,02
23,23,23,2017-01-01 00:00:00.000000,50.12418,Coal,Alaska,2017,01
24,24,24,2016-12-01 00:00:00.000000,50.23723,Coal,Alaska,2016,12
25,25,25,2016-11-01 00:00:00.000000,46.18895,Coal,Alaska,2016,11
26,26,26,2016-10-01 00:00:00.000000,45.66189,Coal,Alaska,2016,10
27,27,27,2016-09-01 00:00:00.000000,38.18430,Coal,Alaska,2016,09
28,28,28,2016-08-01 00:00:00.000000,51.41638,Coal,Alaska,2016,08
29,29,29,2016-07-01 00:00:00.000000,47.03753,Coal,Alaska,2016,07
...,...,...,...,...,...,...,...,...
172110,172110,172110,2003-06-01 00:00:00.000000,3450.70900,All fuels,Wyoming,2003,06
172111,172111,172111,2003-05-01 00:00:00.000000,3180.98400,All fuels,Wyoming,2003,05
172112,172112,172112,2003-04-01 00:00:00.000000,3090.22500,All fuels,Wyoming,2003,04
172113,172113,172113,2003-03-01 00:00:00.000000,3804.89200,All fuels,Wyoming,2003,03
172114,172114,172114,2003-02-01 00:00:00.000000,3577.25400,All fuels,Wyoming,2003,02
172115,172115,172115,2003-01-01 00:00:00.000000,4080.63500,All fuels,Wyoming,2003,01
172116,172116,172116,2002-12-01 00:00:00.000000,4074.34400,All fuels,Wyoming,2002,12
172117,172117,172117,2002-11-01 00:00:00.000000,3672.86000,All fuels,Wyoming,2002,11
172118,172118,172118,2002-10-01 00:00:00.000000,3744.12700,All fuels,Wyoming,2002,10
172119,172119,172119,2002-09-01 00:00:00.000000,3785.98200,All fuels,Wyoming,2002,09
172120,172120,172120,2002-08-01 00:00:00.000000,3841.20100,All fuels,Wyoming,2002,08
172121,172121,172121,2002-07-01 00:00:00.000000,3893.36100,All fuels,Wyoming,2002,07
172122,172122,172122,2002-06-01 00:00:00.000000,3135.31800,All fuels,Wyoming,2002,06
172123,172123,172123,2002-05-01 00:00:00.000000,3272.65700,All fuels,Wyoming,2002,05
172124,172124,172124,2002-04-01 00:00:00.000000,3082.47900,All fuels,Wyoming,2002,04
172125,172125,172125,2002-03-01 00:00:00.000000,3933.57100,All fuels,Wyoming,2002,03
172126,172126,172126,2002-02-01 00:00:00.000000,3500.81800,All fuels,Wyoming,2002,02
172127,172127,172127,2002-01-01 00:00:00.000000,3847.12100,All fuels,Wyoming,2002,01
172128,172128,172128,2001-12-01 00:00:00.000000,3815.65700,All fuels,Wyoming,2001,12
172129,172129,172129,2001-11-01 00:00:00.000000,3847.45300,All fuels,Wyoming,2001,11
172130,172130,172130,2001-10-01 00:00:00.000000,3656.52600,All fuels,Wyoming,2001,10
172131,172131,172131,2001-09-01 00:00:00.000000,2985.16300,All fuels,Wyoming,2001,09
172132,172132,172132,2001-08-01 00:00:00.000000,3900.80100,All fuels,Wyoming,2001,08
172133,172133,172133,2001-07-01 00:00:00.000000,4128.22900,All fuels,Wyoming,2001,07
172134,172134,172134,2001-06-01 00:00:00.000000,3686.04100,All fuels,Wyoming,2001,06
172135,172135,172135,2001-05-01 00:00:00.000000,3436.69600,All fuels,Wyoming,2001,05
172136,172136,172136,2001-04-01 00:00:00.000000,3459.18100,All fuels,Wyoming,2001,04
172137,172137,172137,2001-03-01 00:00:00.000000,4093.37000,All fuels,Wyoming,2001,03
172138,172138,172138,2001-02-01 00:00:00.000000,3747.14100,All fuels,Wyoming,2001,02
172139,172139,172139,2001-01-01 00:00:00.000000,4020.68000,All fuels,Wyoming,2001,01